.card-filho {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 50vh;
    margin: 1vw;
    padding: 1vw;
    border-radius: 5px;
    background-color: #f8f9fa;
    color:black;
    box-shadow: 5px 0px 25px 5px #000;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: aqua;
    z-index: 2;
    width: 38vw;
    text-shadow: 3px 0px 15px #000;
    font-style: oblique;
    font-family: Arial;
    font-size: 1.5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 5vh;
    width: 38vw;
    height: 40vh;
    text-shadow: 3px 0px 15px #000;
    background-color: blue;
    font-style: oblique;
    font-family: Arial;
    font-size: 1.5rem;
    letter-spacing: 1px;
}