@import './base.css';
@import './cardClima.css';

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 5vw;
  margin: auto;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    padding: 5vw;
    margin: auto;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5;
    
  }
}
